<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APPNAME</title>
    <meta name="application-name" content="APPNAME">
    <meta name="description"
        content="A time-tracking web app. At random points throughout the day, it asks you what you are doing.">
    <meta name="theme-color" content="rgb(245, 214, 112)">
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="apple-touch-icon" href="/logo/ttw180.png">
    <style>
        body {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
            margin: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 0.5rem;
        }

        nav {
            display: flex;
            justify-content: space-between;
            margin-bottom: 1rem;
        }

        .auth-links {
            margin-top: 0.25rem;
        }

        .mid-page-authlinks {
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
        }

        .auth-link {
            margin-left: 1rem;
            font-size: 1rem;
            color: black;
            border-radius: 4px;
            border: 2px solid #e0e0e0;
            text-decoration: none;
            padding: 0.5rem .8rem 0.4rem;
        }

        h1 {
            font-size: 1.5rem;
            margin: 0;
            font-weight: 400;
            text-align: left;
        }

        h3 {
            margin: 0;
            margin-top: 0.5rem;
        }

        .tagline {
            font-size: 2.7rem;
            font-weight: bold;
        }

        .scr {
            margin-left: 1.5rem;
        }

        .step {
            display: flex;
            flex-flow: column;
            align-items: center;
        }

        .step-num {
            border-radius: 50%;
            border: 2px solid #005644;
            width: 1em;
            height: 1em;
            line-height: 1;
            font-size: 2rem;
            background: #92eedb;
        }

        .card-stack {
            display: flex;
        }

        .card {
            display: flex;
            flex-flow: column;
            border: 2px solid #005644;
            background: #d6f8f1;
            border-radius: 8px;
            margin-left: 1rem;
        }

        .card > img {
            /* stop corners from hitting boundary */
            border-radius: 8px;
            width: 100%;
        }

        @media (max-width: 940px) {
            .card-stack {
                flex-flow: column;
            }
            .card {
                margin-left: 0;
                margin-bottom: 1rem;
            }
        }

        @media (max-width: 580px) {
            .scr {
                width: 90vw;
                margin-left: 5vw;
            }
        }

        @media (max-width: 500px) {
            .scr {
                width: 98vw;
                margin-left: 0.5vw;
            }
        }

        @media (prefers-color-scheme: dark) {
            body, .auth-link {
                background: black;
                color: white;
            }
            .step-num {
                color: black;
            }
            a {
                color: #8a8aff;
            }
            a:visited {
                color: #C07FFF;
            }
        }

        .app-root {
            /* creates a new context that top/bottom/left/right is evaluated to */
            position: relative;
            /* just enough room left for the footer */
            min-height: calc(100vh - 4rem - 1px);
            padding-bottom: 1rem;
            text-align: center;
            max-width: 55rem;
        }

        p {
            font-size: 1.1rem;
        }

        .home {
            padding: 8px;
        }

        #unsupported {
            display: none;
        }
    </style>
    <script>
        // @license magnet:?xt=urn:btih:8e4f440f4c65981c5bf93c76d35135ba5064d8b7&dn=apache-2.0.txt Apache-2.0
        if (localStorage["retag-auth"] && localStorage["retag-auth"] !== "out") {
            // don't create a history entry for this page to prevent back button trapping
            location.replace("/app");
        }
        var supported = typeof window.WebAssembly !== "undefined";
        if (!supported) {
            onload = function() {
                document.getElementById("unsupported").style.display = "block";
            };
        }
        // @license-end
    </script>
</head>

<body class="light">
    <div class="app-root">
        <div>
            <div id="unsupported">
                Your browser doesn't support APPNAME, so logging in won't work.
            </div>
            <div class="home">
                <header>
                    <nav>
                        <h1>APPNAME</h1>
                        <div class="auth-links">
                            <a class="auth-link" href="BACKSERV/internal/login">Login</a>
                            <a class="auth-link" href="BACKSERV/internal/register">Sign up</a>
                        </div>
                    </nav>
                    <div class="tagline">Time tracking that samples you randomly</div>
                </header>
                <noscript>
                    You can look at this page without Javascript, but be warned that logging in will fail without Javascript.
                </noscript>
                <p>
                    APPNAME is an <a href="https://github.com/smittyvb/ttw" target="_blank" rel="noopener">open-source</a>
                    time-tracking web app.
                    At random points throughout the day, it asks you what you are doing.
                </p>

                <div class="auth-links mid-page-authlinks">
                    <a class="auth-link" href="BACKSERV/internal/login">Login</a>
                    <a class="auth-link" href="BACKSERV/internal/register">Sign up</a>
                </div>

                <h2>How it works</h2>
                <p>
                    <a href="https://www.youtube.com/watch?v=cJpE018QEkQ">Stochastic time tracking</a>
                    is a system that sends you a ping at random intervals. While it's not very
                    accurate at a small scale, it is very valuable for obtaining long-term insights
                    as to how you spend your time.
                </p>

                <div class="step">
                    <div class="step-num">1</div>
                    <h3>Get a ping</h3>
                </div>

                <p>
                    Here's what APPNAME looks like when you get a ping:
                </p>

                <p>
                    <img src="scrping.png" alt="What a ping looks like" class="scr" />
                </p>

                <div class="step">
                    <div class="step-num">2</div>
                    <h3>Respond</h3>
                </div>

                <p>
                    From there, you can enter tags:
                </p>

                <p>
                    <img src="scrautocomplete.png" alt="Entering tags" class="scr" />
                </p>

                <div class="step">
                    <div class="step-num">3</div>
                    <h3>Use your data</h3>
                </div>

                <p>
                    Once you've responded to enough tags, many types of graphs can be generated
                    from your data:
                </p>

                <div class="card-stack">
                    <div class="card">
                        <img src="scrdailytrend.png" alt="Daily trend" class="scr-graph" />
                        <div>View daily, weekly, and montly graphs</div>
                    </div>
                    <div class="card">
                        <img src="scrmatrix.png" alt="Matrix of pings" class="scr-graph" />
                        <div>See a punch-card style graph of when you do certain tags the most</div>
                    </div>
                </div>

                <h2>History</h2>
                <p>
                    <a href="https://github.com/tagtime/TagTime" target="_blank" rel="noopener">TagTime</a>
                    was initially written in Perl. APPNAME is a complete, modern, re-implementation
                    that works in web browsers. This isn't the only re-implementation though: check
                    out <a href="http://doc.beeminder.com/tagtime" target="_blank" rel="noopener">this comprehensive list</a>
                    for more.
                </p>

                <footer>
                    <p>
                        APPNAME was made by <a href="https://smitop.com/">Smitop</a> (<a href="mailto:ttw@smitop.com">ttw@smitop.com</a>).
                    </p>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>
