body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
.error {
    background: rgb(251, 142, 142);
    border: 3px solid rgb(200, 26, 26);
    padding: 0.5rem;
    width: max-content;
    margin-bottom: 1rem;
}
